
html body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(240, 240, 240);
    text-align: center;
}

header {
    height: 275px;
    width: 100%;
    background: url("images/bay.jpg");
    background-size: cover;
    opacity: .7;
    z-index: -1;
}

.intro {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 70px;
}

footer {
    text-align: center;
    margin: 200px 0 40px 0;
}

nav {
    width: 100%;
    list-style: none;
    margin-bottom: 70px;
    padding: 110;
    text-align: center;
    height: 50px;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline;
    font-family: 'Prosto One', cursive;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

nav ul {
    width: 100%;
    height: 50px;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

nav li {
    display: inline;
    margin: 0 20px;
    padding: 0;
}

article {
    text-align: center;
    margin: 0 auto;
    max-width: 1050px;
}
article p{
    text-align: left;
    text-indent: 0px;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
}

.about_greeting {
    font-size: 70px;
}

.selfie {
    height: 30%;
    width: 30%;
    margin: 0 30px 30px 0;
    border: solid 3px black;
    border-radius: 5%;
    box-shadow: 6px 8px rgb(221, 221, 221);
}

.mahi {
    height: 175px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
}

.bottom_nav {
    padding: 0;
}

.bottom_nav ul {
    width: 100%;
    height: 30px;
    list-style-type: none;
    margin-top: 0px;
}

.bottom_nav li {
    list-style: none;
    display: inline;
    margin: 0 20px;
}

.bottom_nav a {
    text-decoration: none;
    display: inline;
    font-family: "Prosto One", cursive;
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
}

.resume {
    background: rgb(216, 216, 216);
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: auto;
    border-radius: 12px;
    text-decoration: none;
    border: solid rgba(0,0,0,.8);
}

.download_icon {
    height: 2%;
    width: 2%;
}

.interests h1{
    font-size: 40px;
}
.interests a{
    text-decoration: none;
    color: rgba(0,0,0,1);
    margin: 30x;
    padding: 25px;
    border: solid 8px black;
    border-radius: 50%;
    font-size: 40px;
}

.interests h2{
    margin: 30px;
    padding: 30px;
}

.sp_link{
    float: left;
}

.fishing_link {
    float: right;
}


