<!DOCTYPE html>
<html>

<head>
    <title>Richard Dowdy</title>
    <link href="https://fonts.googleapis.com/css?family=Prosto+One&display=swap" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">


</head>

<body>
    <header></header>
    <h1 class="intro">Richard's Space</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <article>
        <h2>Be Great Today!</h2>
        <h2>Teach me something!</h2>
        <p>I created this site on my own after a short periord of self study.  </p>
        <p>This is a test of Github workflow #1.</p>
        <p>this is a test of github workflow # 2 from thinkpad ---> macbook</p>
    </article>
    <footer>
            <img class="mahi" src="../images/mahi_pic.jpg" alt="Mahi Dog">
            <ul class="bottom_nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </footer>
</body>

</html>